fastapi~=0.85.0
uvicorn~=0.18.3
tortoise-orm~=0.19.2
aiofiles~=0.8.0
dpath~=2.0.6
aiosqlite~=0.17.0
asyncpg~=0.27.0
prometheus_fastapi_instrumentator~=5.9.1
uvloop~=0.17.0
#implicit
orjson~=3.8.0 # for fastapi.responses.ORJSONRespone